<template>
  <draggable class="clips" v-model="this.items" :options="{group: { name:'clips', pull:'clone', put:'false'}}" >
      <Clip v-for="item in this.items" :key="item" v-bind:description='item'/>
  </draggable>
</template>
<script>
import Clip from './Clip'
import draggable from 'vuedraggable'
export default {
  props: ["items"],
  components: {
      draggable,
      Clip
  },
  data(){
      return{
        
      }
  }
}
</script>
<style lang="scss" scoped>
.clips {
    border: 2px solid dodgerblue;
    margin: auto 20px;
    width: 80vw;
    height: 15vh;
    margin: 0 auto;
    overflow: scroll;

    :after {
      content: "";
      display: table;
      clear: both;
    }
  }

</style>
