<template>
        <div class='item'><h1>{{this.description}}</h1></div>
</template>
<script>
export default {
  props: ["description"]
}
</script>
<style lang="scss" scoped>
 .item {
    height: 10vh;
    width: 10vh;
    margin: 20px;
    float: left;
    border: 2px solid black;
  }

</style>
