<template>
 <div class="main-container">
    <div class="timeline clearfix">
      <TimeLine v-bind:items='timeline'/>
 </div>

 <div class="clips clearfix">
    <Clips v-bind:items="clips"/>
 </div>

 </div>
</template>

<script>
import Clips from './Clips'
import TimeLine from './TimeLine'
import draggable from "vuedraggable";
export default {
  name: "Drag-Demo",
  components: {
    draggable,
    TimeLine,
    Clips
  },
  data() {
    return {
      timeline: [],
      clips: [1, 2, 3]
    };
  },
  mounted() {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang='scss' scoped>
@media screen and (max-width: 600px) {
  div {
    margin:10px auto;
  }
}
</style>
