<template>
  <draggable class="timeline" v-model="timeline" :options="{group: { name:'clips'}}">
      <Clip v-for="item in timeline" :key="item" v-bind:description='item'/>
  </draggable>
</template>
<script>
import Clip from './Clip'
import draggable from 'vuedraggable'
export default {
  props: ["items"],
  components: {
      draggable,
      Clip
  },
  data(){
      return{
        timeline: this.items
      }
  },
  mounted(){
      console.log(this.items)
  },

}
</script>
<style lang="scss" scoped>
.timeline {
    border: 2px solid black;
    min-height: 40vh;
    width: 90vw;
    margin: 0 auto;
    display: block;
  }
</style>
